

.bannerBox{
    background-image: url('../../photos/banner.png');
    height: 85vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    /* margin-bottom: 50px; */
    position: sticky;
    z-index: -1;
    top: 0;
}
.bannerBox h1{
    color: white;
    font-size: 60px;
}

.whyMe{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    background: white;
    margin: 40px 0px;
    padding-top: 40px;
    padding-bottom: 40px;
    justify-items: center;
}
.whyMe img{
    width: 350px;
}
.whyMeText{
    width: 450px;
}
.whyMeText p{
    font-size: 22px;
    font-style: italic;
    color: rgb(96, 94, 94);
    text-align: justify;
}
.spotsContainer{
    margin-top: 150px;
    background:white;
}
.spotsContainer h3{
    text-align: center;
    margin: 0 auto;
    font-size: 35px;
    color: rgb(67, 65, 65);
    padding-bottom: 5px;
    margin-bottom: 20px;
}
marquee{
    font-size: 30px;
    font: bold;
    font-style: italic;
    color: rgb(247, 243, 243);
    word-spacing: 20px;
    top: 0;
}
.spots{
    padding: 40px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-items: center;
}
