.register-Container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
    background: rgba(184, 216, 192, 0.448);
}
.regImg img{
    width: 400px;
}
.container{
    display: flex;
    gap: 15px;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.regBtn{
    display: block;
    margin: 20px auto;
    background: rgba(0, 128, 0, 0.714);
    color: white;
    font-size: 20px;
    border: none;
    padding: 10px 40px;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
}

.resgiterText{
   color: rgba(0, 128, 0, 0.714);
}