.footerContainer{
    background: black;
    height: 200px;
    color:white;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 20px;
    justify-items: center;
}

.footerLogoBox{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.footerLogoBox h1{
    color: rgb(219, 7, 7);
    cursor: pointer;
}