.aboutMeContainer{
    margin-top:20px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-items: center;
    height: 80vh;
    align-items: center;
    padding: 50px;

}

.aboutMeContainer img{
    width: 300px;
    border-radius: 5px;
    margin-left: -150px;
}
.texts{
    width: 500px;
    text-align: justify;
    margin-right: -150px;
}
.texts p{
    color: rgb(96, 96, 96);
}
.texts h2{
    color: rgb(250, 60, 60);
}